@using PokedexApp.Shared.Models.Pokemonss
@if (Model is not null)
{
	<div class="card">
		<div class="card-context">
			<div class="top-card">
				<div class="flex-row header-context">
					<h3>@Model.Name</h3>
					<h3 id="hp">@Model.Stats.FirstOrDefault(s => s.Stat.Name == "hp")!.Base_stat HP</h3>
				</div>
				<div class="flex-row card-image">
					<img src="@Model.Sprites.front_default" alt="@Model.Name" />
				</div>
			</div>
				<div class="flex-row subtitling">
				<p>Type:</p>
					@foreach (var type in Model.Types)
					{
						<p>@type.Type.Name,</p>
					}
					<p>Height: @Model.Height", Weight: @Model.Weight lbs</p>
				</div>

			<div class="flex-column bottom-card">
				<hr />
				<div class="context">
					<p>Moves</p>
					<p>@Model.Moves[0].Move.Name</p>
					<p>@Model.Moves[1].Move.Name</p>
					<p>@Model.Moves[2].Move.Name</p>
				</div>
				<hr />
			</div>
		</div>
	</div>
}
@code {
	[Parameter]
	public Pokemon? Model { get; set; }
}
